<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{url_for('static', filename='styles/style.css')}}"
      rel="stylesheet"
    />
    <title>{{title}} Weather</title>
  </head>
  <body>
    <h1>{{title}} Weather</h1>
    <p>{{status}} and {{temp}} &deg;</p>
    <p>Feels like{{feels_like}} &deg;</p>

    <form action="/weather">
      <input type="text" name="city" id="city" placeholder="Enter city" />
      <button type="submit">Submit</button>
      <a href="http://localhost:8000">Go Back</a>
    </form>
  </body>
</html>
